body{
    /* background-image: linear-gradient(to right,blue,violet); */
}
h1,h2,h3{
    color: rgb(226, 223, 43);
    text-align: center;

}
img{
    display: inline;
    margin-left: 450px;
    width: 600px;
    height: 400px;
}
nav{
    margin-left: 500px;
    color: rgb(255, 255, 255);
}
