body{
    background-image: url("https://cdn.pixabay.com/photo/2022/12/01/04/35/sunset-7628294_640.jpg");
   display: flex;
 
    
}
p.one{
    border: 15px rgb(248, 119, 60);
    text-align: center;
    border-style: ridge;
    color: blue;
    margin-left: 450px;
}
p.two{
    border: 15px rgb(255, 255, 255);
    text-align: center;
    border-style: ridge;
    color: blue;
    
}
p.three{
    border: 15px rgb(53, 133, 66);
    text-align: center;
    border-style: ridge;
    color: blue;
    
}